<p><span>Id: </span><%=@user.id %></p>
<p><span>Name: </span><%=@user.name %></p>
<p><span>Email: </span><%=@user.email %></p>
<p><span>Phone: </span><%=@user.phone %></p>
<p><span><%= link_to "Delete User", user_path(:id), method: :delete, data: {confirm: "Are you sure you want to delete this user???"} %></span></p>


